#traffic-hotel-section {
  /* min-height: 30vh; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #2d303f;
  border: 2px solid black;
  padding: 2%;
  gap: 2%;
}

@media (min-width: 320px) and (max-width: 576px) {
  #traffic-hotel-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 3%;
  }
}
@media (min-width: 576px) and (max-width: 1000px) {
  #traffic-hotel-section {
    flex-direction: column;
  }
}

/* @media (min-width: 577px) and (max-width: 768px) {}'*/
